<section class="shopping">
    <header>
        <h1>
            Select items
        </h1>
        <div>
            <div class="search-products">
                <p *ngIf="showError">Please enter some search term</p>
                <input id="search" [(ngModel)]="searchText" type="text" placeholder="Search">
                <button (click)="refresh()">Search</button>
            </div>
            <div>
                <a routerLink="/products">
                    <h4>Products</h4>
                </a>
            </div>
            <div>
                <div class="indicator">
                    <p>{{cartNumber}}</p>
                </div>
                <fa-icon [icon]="faCartShopping"></fa-icon>
                <a routerLink="/cart">
                    <h4>
                        Cart
                    </h4>
                </a>

            </div>
        </div>

    </header>
</section>