<div class="main">
    <section class="body">
        <div class="products-heading">
            <h1>Our Products</h1>
        </div>

        <div class="items">
            <app-item
                *ngFor="let item of items | paginate: { itemsPerPage: count, currentPage:p, totalItems:totalPages}"
                [item]="item"></app-item>
        </div>
        <div class="pagination">
            <pagination-controls (click)="handlePageClick(p)" (pageChange)="p =$event"></pagination-controls>
        </div>

    </section>
</div>